{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %} {% endblock title %}</title>
        {% block head %}  {% endblock head  %}
    </head>

    <body>

    <style type='text/css'>
     .titleP{
         margin-left: 37%;
         font-weight: bold;
         font-size: xx-large;
     }
        .navbar-item{
            margin-left: 90%;
            font-weight: bold;
        }

    </style>

<head>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
</head>
<body>
    ...
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>


    <!--navigation bar-->
    <nav class="navbar">
        <a href= "" class="navbar-item " > Home </a>
    </nav>
        <p class = 'titleP'>
            Welcome to Zip Car Portal
            <ul>
                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                        <li>1) <a href=/admin> admin end to add user info and car info</a></li>
                     </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>2) <a href=/cars >  to see the car lists </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>3) <a href=/users > to see the user lists </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>4) <a href=/car_search_form> to search car </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>5) <a href=/user_search_form>  to search User </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>6) <a href=/car_create> to Create car </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>7) <a href=/user_create> to Create User </a></li>
                    </div>
                </div>

                <div class="col-4 py-3"> 
                    <div class="card" style="width: 18rem;">
                <li>8) <a href=/ > holds base listing info</a></li>
                    </div>
                </div>
            </ul>
        </p>
        {% block content %}

        {% endblock content %}
    </body>

<footer class="footer" style="background: powderblue;">
    <div class="container">
        <div class="content has-text-centered">
            <p><i>&copy; 2020 zipCar</i></p><br>
         </div>
    </div>
</footer>


</html>